*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.navbar {
    background-color: white;
    overflow: auto;
    padding: 10px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top :0;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.country-select select {
    background-color: white;
}

.country-select {
    display: flex;
    justify-content: space-between;
}

#loginBtn {
    margin-right: 100px;
    padding: 35px;
    border: 1px solid white;
    color: white;
    background-color: #ff3333;
}
#loginBtn:hover{
    background-color: crimson ; 
    color: white;

}

#country {
    margin-top: 30px;
}

.logo {
    margin-left: 110px;
}

select {
    border: 1px solid white;
}

footer {
    background-color:whitesmoke;
    padding: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.footer-item {
    padding: 10px;
    transition: background-color 0.5s ease; 
}

.footer-item:hover {
    background-color: #ff3333 ; 
    color: white;

}
footer a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}
.main{


position:relative;
top:70px;
height: 500px;
display: flex;
overflow-x: hidden;
overflow-y: hidden;


}
.image-container1{
    background-image: url("https://www.dbs.com/in/iwov-resources/images/in/29-6-2022/personal%20banking.png");
    width: 33.33%;
  
    background-size:cover;
    background-position:center;
    
    animation: fade 2s ease-in;
  
}

.image-container2{
    background-image: url("https://www.dbs.com/in/iwov-resources/images/splitter/credit-card-banner.png");
    width: 33.33%;
    background-size: cover;
    background-position:center;
    
}
   
.image-container3{
    background-image: url("https://www.dbs.com/in/iwov-resources/images/in/29-6-2022/Wealth%20management.jpg");
    width: 33.33%;
    background-size: cover;
    background-position:center;
    
}
.h1
{
    position: relative;
    top:180px;
    width: 400px;
    left: 30px;
    color:white;
    font-weight: 600px;
    font-size: 36px;
    font-weight:540;
}
.para{
    font-size: 18px;
    font-weight: 400;
    color:white;
    width: 250px;
    position: relative;
    top:215px;
    left:30px;

}

.Button{
    color:white;
    padding : 10px 25px;
    width: 90px;
    
    background-color: #ff3333;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.b1{
    left: 30px;
    position: relative;
    top:240px;

}
.b2{
    left: 30px;
    position: relative;
    top:265px;
}
.b3{
    left:28px;
    position: relative;
    top:245px;
}

